Backend/TagsApi/TagsApi/Schemas/tags.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

	<xs:element name="Tags">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Tag" type="TagType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Tag" type="TagType"/>

	<xs:complexType name="TagType">
		<xs:sequence>
			<xs:element name="Name"        type="NonEmptyString"/>
			<xs:element name="Color"       type="HexColorType"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="NonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="HexColorType">
		<xs:restriction base="xs:string">
			<xs:pattern value="#[0-9A-Fa-f]{6}"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
